@media (max-width: 768px) {
  .title__overhead {
    font-size: 11px;
    line-height: 15px;
  }
}

@media (max-width: 425px) {
  .title__overhead {
    font-size: 10px;
  }
}

@media (max-width: 360px) {
  .title__overhead {
    font-size: 9px;
  }
}