.inst-follow__button {
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 12px;
  background-color: rgba(255, 174, 43, 0.8);
  border: none;
  border-radius: 20px;
}

.inst-follow__button:hover {
  background-color: rgba(172, 165, 146, 1);
  cursor: pointer;
}

@media (max-width: 760px) {
  .inst-follow__button {
    font-size: 10px;
    line-height: 20px;
    padding: 8px 10px;
}
}

@media (max-width: 690px) {
  .inst-follow__button {
    font-size: 10px;
    line-height: 18px;
    padding: 5px 8px;
}
}