.header {
  padding: 30px 0;
  display: flex;
  max-height: 80px;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1400px) {
  .header {
    max-height: 74px;
  }
}

@media (max-width: 440px) {
  .header {
    gap: 20px;
  }
}
