.button-subscribe__main-button {
  border: none;
  background-color: rgba(255, 174, 43, 1);
  font-family: 'Old Standard TT';
  font-size: 11px;
  line-height: 22px;
  text-transform: uppercase;
  width: 420px;
  height: 60px;
  padding: 15px
}

.button-subscribe__main-button:hover {
  border: 4px double rgba(0, 0, 0, 1);
  color: rgb(80, 73, 59);
  cursor: pointer;
}

@media (max-width: 500px) {
  .button-subscribe__main-button {
    width: 380px;
    height: 40px;
    padding: 10px;
  }
}

@media (max-width: 430px) {
  .button-subscribe__main-button {
    width: 360px;
  }
}

@media (max-width: 400px) {
  .button-subscribe__main-button {
    width: 300px;
    }
  }   